@import './normalize.css';
@import './base.css';

/* 登录界面 */
.sign-in-box{
  position: relative;
  margin: 90px 10%;
  background-color: #ffffff80;
  height: 450px;
  width: 400px;
  border-radius: 8%;
  box-shadow: 0 5px 7px 0 rgba(104, 101, 101, 0.5);
}
.findpass {
  position: relative;
  margin: -35em 55%;
  background-color: #ffffff80;
  height: 300px;
  width: 400px;
  border-radius: 0;
  box-shadow: 0 5px 7px 0 rgba(104, 101, 101, 0.5);
}
.sign-in-box .regiline , .sign-in-box .loginline{   
    text-align: center;
    top: 11%;
    position: relative;
    display: block;
    width: 100%;
    color: rgb(26, 22, 80); 
    font-size: 30px;
    margin-bottom: 5%;
}
.findpass span {
  font-size: 25px;
}
.sign-in-box .regi, .sign-in-box .login{
  text-align: center;
  top: 19%;
  position: relative;
  width: 100%;
  color: rgb(245, 240, 238); 
  font-size: 13px;
}
.sign-in-box .in{
  top: 20%;
  height: 40%;
  width: 100%;
  position: relative;
}
.findpass .in {
  height: 45%;
  top: 13%;
}
.findpass .get{
  height: 20%;
  
}
.in input{
  width: 70%;
  display: block;
  position: absolute;
  left: 15%;
  height: 20%;
  border: none;
  border-radius: 5px;
  padding-left: 1%;
}
.in input:nth-child(1){
  top: 7%;
}
.in input:nth-child(2){
  top: 40%;
}
.in input:nth-child(3){
  top: 60%;
}
.in input:nth-child(4){
  top: 100%;
}

button{
  display: block;
  height: 9%;
  width: 26%;
  background-color: azure;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  bottom: 18%;
  left: 38%;
  position: absolute;
}
.findpass button {
  bottom: 6%;
}
.sign-in-box .findpass,.sign-in-box .login{
  left: 22%;
  bottom: 20%;
  position: absolute;
  color: black; 
  font-size: 13px;
}
.sign-in-box .findpass:hover, .sign-in-box .regi:hover,.sign-in-box .login:hover{
    color: rgb(57, 68, 173);
}

/* 注册界面--------------------------------------------------- */
.sign-in-box .regi{
  text-align: center;
  top: 13%;
  position: relative;
  display: block;
  width: 100%;
  color: rgb(245, 240, 238); 
  font-size: 13px;
}
.sign-in-box .in-regi{
  top: 18%;
  height: 40%;
  width: 100%;
  position: relative;
}
span.regiline{
  top: 10%;
}
.in-regi input, .get{
  width: 70%;
  display: block;
  position: absolute;
  left: 15%;
  height: 15%;
  border: none;
  border-radius: 5px;
  padding-left: 1%;
}
.in-regi input:nth-child(1){
  top: -8%;
}
.in-regi input:nth-child(2){
  top: 18%;
}
.in-regi input:nth-child(3){
  top: 44%;
}
.get{
 top:71%;
}
.get input{
  width: 65%;
  left: 0;
  height: 110%;
}
.in-regi input:nth-child(5){
  top: 95%;
}
.sendver{
  width:32%;
  height: 115%;
  position: absolute;
  left: 68%;
  padding: 0;
  top: -8%;
  font-size: 12px;
}
.findpass .sendver {
  top: 5%;
}
.sign-in-box .agree{
  bottom: 15%;
  position: absolute;
  left: 20%;
}
.el-radio__input {
  /* display: inline; */
  width: 1em;
  height: 1em;
}
.el-radio__input.is-checked + .el-radio__label {
  color: black;
}
.regist{
  bottom: 5%;
}