<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>找回密码</title> 
  <link rel="stylesheet" href="../assets/css/base.css">
  <link rel="stylesheet" href="../assets/css/findpass.css">

</head>
<body>
<div class="sign-in-box clearfix">
    <span>找 回 密 码</span>
    <div class="in">
      <input type="text" id ="username" name="username" placeholder="用户名" maxlength="11">
      <input type="password" id ="password" name ="password" maxlength="10" minlength="6" placeholder="新密码：6-10位数字、字母组合">
    </div>
    <a href="login.html" class="loginbtn" >确认找回</a>
</div>

<script>
  //   $("button").on("click", function(){
  //   var username = document.getElementById("username").value;
  //   var password = document.getElementById("password").value;
    
  //   sendUserinfo(username, password);
  //   function sendUserinfo(username, password){
  //     $.ajax({
  //       url: 'http://47.108.190.196/QAPlatform/user/login',
  //       method: 'POST',
  //       contentType: "application/json",
  //       dataType:"json",
  //       data: JSON.stringify({ "username": username, "password": password }),
  //       success: function (result) {
          
  //       }
  //     })
  //   }
  // })
</script>
</body>
</html>